.user {
  // overflow: hidden;
  // position: fixed;
  // width: 100%;
  // z-index: 100;
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: calc(100% + (100vw - 121rem) / 2 + 1.5rem);
    padding-right: 4.6rem;
  }
  &-left {
    .user-wrapper {
      display: flex;
      align-items: center;
      gap: 5rem;
    }
  }
  &-category {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &-search {
    form {
      display: flex;
      align-items: center;
    }
  }
  &-right {
    .user-wrapper {
      display: flex;
      align-items: center;
      //   width: calc(100% + (100vw - 129.8rem) / 2);
    }
  }
  .category {
    &-icon {
      margin-right: 1.9rem;
    }
    &-text {
      margin-right: 3.4rem;
      font-size: 1.6rem;
      font-weight: 700;
      @include max(560px) {
        display: none;
      }
    }
  }
  .search {
    &-icon {
      margin-right: 2.3rem;
      cursor: pointer;
    }
    &-input {
      height: 3rem;
      border: none;
      outline: none;
      padding: 1.2rem;
      font-family: var(--font-pri);
      flex: 1;
      @include max(750px) {
        display: none;
      }

      &::placeholder {
        font-weight: 700;
      }
    }
  }
  &-plus {
    cursor: pointer;
    --circle: 2.4rem;
    width: var(--circle);
    height: var(--circle);
    border-radius: 10rem;
    border: 1px solid rgba(130, 130, 130, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.3rem;
    .fa-plus {
      color: rgba(130, 130, 130, 1);
      font-size: 1.2rem;
      transform: translate(0.5px, 0.5px);
    }
  }
  &-notification {
    position: relative;
    margin-right: 4rem;
    cursor: pointer;
    &::before {
      content: "2";
      --circle: 1.9rem;
      width: var(--circle);
      height: var(--circle);
      border-radius: 10rem;
      background-color: #f06666;
      position: absolute;
      top: -41%;
      right: -44%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-person {
    position: relative;
    cursor: pointer;
    &:hover {
      .user-drop {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-drop {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30rem;
    padding: 2rem;
    background-color: $color-white;
    color: $color-black;
    border-radius: 1.2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 50;
    .account {
      &-top {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.2rem;
        padding: 1.2rem 0;
        border-bottom: 1px solid $color-text;
        cursor: pointer;
      }
      &-name {
        font-size: 1.6rem;
        font-weight: 700;
      }
      &-bottom {
        cursor: pointer;
        .text {
          font-size: 1.6rem;
          font-weight: 700;
        }
      }
    }
  }
  &-account {
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1.2rem;
    padding: 1.2rem 2.4rem;
  }
  &-setting,
  &-support,
  &-logout {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem 2.4rem;
    cursor: pointer;
    .text {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}
